.body {
  padding: 5%;
}
.card {
  margin: 2%;
}

.card-text {
  /* font-family: "Times New Roman", Times, serif; */
  font-size: 22px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #0d6efd;
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}

.card-img{
  margin-left: 30%;
}
