body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-color{
    color:#a020f0
}

a {
    text-decoration: none;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
 }